{% load static %}

<!DOCTYPE html>
<html>
     <head>
         <meta charset="UTF-8">
         <meta name="viewport"
         content="width=device-width", initial-scale="1.0">
         <title>GALAXY</title>
		 <link rel="stylesheet" href="{% static "styles/style1pm.css" %}" >
                <style>


                </style>
    </head>
    <body>
            <div class="main" style="
						background-image: "url("C:\Users\HP\OneDrive\Desktop\1pm\BackGround.jpeg")""
						>
                    <div class="header">
                        <nav>
                            <div class="logo">
                             <a href="MainPage1.html">GALAXY</a>
                            </div>
                            <ul>
                                <li><a href="about/">ABOUT US</a></li>
                                <li><a href="menu/"> MENU</a></li>
                                <li><a href="contact/">CONTACT</a></li>
                                <li><a href="signup/">SIGN UP</a></li>

                            </ul>
                        </nav>
                        <div class="overlay">
                        <div class="content">
						<style>
						background-image:"C:\Users\HP\OneDrive\Desktop\1pm\BackGround.jpeg"
						</style>
                            <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-shadow: 2px 2px goldenrod;">WELCOME TO <br>GALAXY RESTAURANT</h1>
                            <P >ARE YOU HUNGRY?  WHY TO BE HUNGRY WHEN GALAXY IS HERE.</P>
                               <P>WHAT ARE YOU WAITING FOR? JUST CLICK ON ORDER NOW TO ORDER FOOD</P>
                               <form action="menu/"><button>ORDER NOW</button> </form>
                        </div>
                    </div>
            </div>

    </body>
</html>
