{% load static %}
<!DOCTYPE html>
<html lang="en" class="hydrated">
<title>About us</title>

  <link rel="stylesheet" href="{% static "styles/abtus.css" %}" >

</head>

<body>

      <section class="about" id="about">

        <div class="about-left">

          <div class="img-box">
            <img src="{% static "image/CBBBG.jpeg"  %}"/>
          </div>

          <div class="abs-content-box">
            <div class="dotted-border">
              <p class="number-lg">17</p>
              <p class="text-md">Years <br> Experience</p>
            </div>
          </div>

        
        </div>

        <div class="about-right">

          <h2 class="section-title">We are doing more than
            you expect</h2>

            <p class="section-text">
              Beginning as a modest café in 1983, <b>Hyderabadi</b> has grown into one of the most-admired restaurant chains in the country today  a testament to our committed pursuit of culinary and service excellence.
          A permanent fixture on Hyderabads cultural scene, people consider a trip to the city incomplete without a visit to this iconic place that serves the <u>best Biryani</u>.
          With multiple formats that include charming cafes, busy bakeries and welcoming restaurants, our Food courts are favourite hangouts for people from all walks of life.
          We also practice the highest quality and hygiene standards to ensure our cuisine remains top-notch in all aspects.
          Industry best practices, world-class processes and cutting-edge technology enable our Outlets to set new benchmarks in the Food & Hospitality industry for their efficiency.
          We ensure consistency of taste and quality across Outlets through a meticulous application standard operating procedures.
            </p>
          </div>
        </section>



        <section class="services" id="services">
          <div class="service-card">
            <p class="card-number">01</p>
            <h3 class="card-heading">We are located in the city center</h3>
            <p class="card-text">
            A city centre is the area of a city where significant commerce, political, cultural and power is concentrated.So that it would be easy for the delivery.

            </p>

          </div>
          <div class="service-card">
          <p class="card-number">02</p>
          <h3 class="card-heading">Fresh ingredients from organic farms</h3>
            <p class="card-text">
              Organic food is grown without the use of synthetic chemicals, such as human-made pesticides and fertilizers, and does not contain genetically modified organisms.We ensure your safely.
            </p>

          </div>

          <div class="service-card">
          <p class="card-number">03</p>
         <h3 class="card-heading">Own fast delivery. 30 min Maximum</h3>

            <p class="card-text">
           No need to wait for long time to get your favorite food.Either it be online or in the restaurent.
            </p>

          </div>

        <div class="service-card">

            <p class="card-number">04</p>
           <h3 class="card-heading">Professional, experienced chefs</h3>
           <p class="card-text">
              International chef's who got best awards.
            </p>

          </div>

          <div class="service-card">
          <p class="card-number">05</p>
          <h3 class="card-heading">The highest standards of service</h3>
          <p class="card-text">
             Peaceful service and fastest service 24/7.
          </p>

          </div>
          </section>

  </body></html>
