body{
                        margin: 0px;
                        padding: 0px;
                        box-sizing: border-box;
                        }
                    
                    .main{width: 100%;}

                    button{
                        
                        background: black;
                        color: white;
                        font-size: 30px;
                        transition: 00.5s all ease;
                        cursor: pointer;
                    }

                    button:hover{
                        background: black;
                        color: goldenrod;
                        transform: scale(1.2);
                    }

                    nav{
                        width: 100%;
                        background-color: black;
                        height: 80px;
                        line-height: 70px;
                        display: flex;
                        justify-content: space-between;
                    
                        }
            
                    a{
                        text-decoration: none;
                        color: aliceblue;
                        font-size: 20px;
                        transition: 0.5s all ease;
                    }

                    .logo a{font-size: 40px;
                            color: goldenrod;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            font-style: oblique;
                            font-weight: bold;
                            margin-left: 100px ;}
                    
                    ul{
                        margin: 0px;
                        margin-right: 100px;
                    }

                    ul li{
                        float: left;
                        padding: 0px 10px;
                        list-style: none;
                    }
                    
                    ul li a:hover{
                        color: goldenrod;

                    }

                    .header{
                        background-image:"C:\Users\HP\OneDrive\Desktop\FoodOrder\FoodOrder\BackGround.jpeg";
                        height:100vh;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width:100%;

                    }

                    .content{
                        position:absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        color: whitesmoke;
                        text-align: center;

                    }
                    .content h1{
                        font-size: 50px;
                    }

                    .overlay{
                        background: rgba(0,0,0,0.7);
                        height: 89.5vh;
                    }